header {
	background-color: #A2785A;
	height: 200px;
	margin: 0;
	text-align: center;
}

footer {
    display: flex;
    justify-content: center;
	position: fixed;
	bottom: 0; 
	left: 0;
	right: 0;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #A2785A;
}

body{
	margin: 0;
	background-color: #8F5C38;
}

hr {
	clear: both;
	background-color: #C09E73;
	height: 3px;
	border: 2px solid #C09E73;
	border-radius: 5px;
	margin-top: -3px;
	margin-bottom: px;
}

select {
	height: 30px;
	border: 2px inset #C09E73;
	border-radius: 5px;
	margin-top: 5px;
	background-color: #F0DFAD;
	margin-left: 10px;
}

section {
	display: flex;
	flex-wrap: wrap;
}

article { 
	border : 2px inset #C09E73;
	border-radius: 5px;
	background-color: #F0DFAD;
	height: 500px;
	width: 600px;
	margin: 10px;
	padding: 10px
}

article:hover {
	box-shadow: 5px 5px 5px #C09E73;
	filter: brightness(110%);
}

textarea {
	resize: none;
}

#co {
	margin-top: -25px;
}

#deco {
	margin-top: -30px;
}

#redac {
	margin-top: -50px;
}

.redac {
	font-weight: bold;
	text-align: right;
}

.date {
	text-decoration: underline;
}

.theme, .titre, .contenu {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
}

.identite {
	float: left;
	text-align: left;
	margin-left: 10px;
}

.droite {
	float: right;
	margin-right: 10px;
}

.gauche {
	float: left;
	margin-left: 10px;
}

.tri {
	margin-left: 10px;
}

input[type="submit"] {
	width:100px;
	font:bold 13px Arial;
	padding:6px 0 6px 0;
	background:#F0DFAD;
	color:#555;
	border:1px solid #ccc;
	border-radius:2px;
	box-shadow:1px 1px 3px #999;
	margin-left: 20px;
}

a {
	background-color: #8F5C38;
	color: white;
	text-decoration: none;
  	text-transform: uppercase;
  	padding: 1em 1.5em;
	border-radius: 5px;
	margin: 0
}
