header {
	background-color: darkorange;
	height: 50px;
	text-align: right;
}

footer {
    display: flex;
    justify-content: center;
	position: fixed;
	bottom: 0; 
	left: 0;
	right: 0;
}

body{
	margin: 0;
	background-repeat: no-repeat;
	background-image: url('logo.jpg');
	background-position: 100% 5%;
	background-size: 5%;
}

div{
	background-color: cornsilk;
}

.trier {
	background-color: khaki;
} 
